@using WebUI.Models;
@model CinemasListViewModel

@{
    ViewBag.Title = "Фильмы";
}

@foreach (var p in Model.Cinemas)
{
    @Html.Partial("_CinemaSummary",p)
}

<div class="btn-group pull-right">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x, category = Model.CurrentCategory }))
</div>

